<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="products.css">
    <title>Document</title>
</head>
<body>
    <button class="primary-button">Products</button>
    <button class="expenses-button">Expenses</button>
    <p>Gal Gadot</p>
    <table>
        <thead>
            <tr>
                <th>Product name <span class="resize-handle"></span></th>
                <th>Product type<span class="resize-handle"></span></th>
                <th data-type="text-short">Product description<span class="resize-handle"></span></th>
                <th data-type="text-short">Purchase date <span class="resize-handle"></span></th>
                <th data-type="text-long">Product price <span class="resize-handle"></span></th>
                <th data-type="text-short">edit<span class="resize-handle"></span></th>
                <th data-type="text-long">Delete <span class="resize-handle"></span></th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Coca-cola</td>
                <td>Drink</td>
                <td>Carbonated soft drink</td>
                <td>19.04.2019</td>
                <td>75</td>
                <td>United Kingdom</td>
                <td>University of Plymouth</td>
               
            </tr>
            <tr>
</body>
</html>