<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="Expenses.css">
    <link rel="stylesheet" type="text/html" href="Expenses.html">
    <link rel="stylesheet" type="text/html" href="../products/products.html">

    <script src="https://kit.fontawesome.com/5b23f98616.js"></script>
    <title>Document</title>
</head>
<body>
  <header>
    <nav class="nav">
        <div class="buttons">
            <a href="products.html"><button class="main-buttons" id="products-btn">Products</button></a>
            <a href="../Expenses/Expenses.html"><button class="main-buttons" id="expenses-btn">Expenses</button></a>
        </div>
        <div class="picture">              
                <p><img id="profile" src="../../assets/images/profile.png.png" alt="profile">Gal Gadot</p>
        </div>
    </nav>
</header>

  <h3>Expenses</h3>
  <div class="expense">
  <button class="monthly-btn">Monthly</button>
  <button class="yearly-btn">Yearly</button>
  
  <label for="filter" id="filter">Choose Month: 
    <select id="filter">
        <option>January</option>
        <option>February</option>
        <option>March</option>
        <option>April</option>
        <option>May</option>
        <option>June</option>
        <option>July</option>
        <option>August</option>
        <option>September</option>
        <option>Octomber</option>
        <option>November</option>
        <option>Decembar</option>
    </select>
  </label>
  
</div>
        
        
        <table class="data">
          <tr>
            <th>Product name</th>
            <th>Product type</th>
            <th>Product description</th>
            <th>Purchase date</th>
            <th>Product price </th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <td>Coca-cola</td>
            <td>Drink</td>
            <td>Carbonated soft drink</td>
            <td>19.08.2018</td>
            <td>75</td>
            <td>
                    <a href=""><i class="far fa-edit"></i></a>
                    <a href=""><i class="far fa-trash-alt"></i></a>
                </td>
          </tr>
          <tr>
            <td>Coca-cola</td>
            <td>Drink</td>
            <td>Carbonated soft drink</td>
            <td>19.08.2018</td>
            <td>75</td>
            <td>
                    <a href=""><i class="far fa-edit"></i></a>
                    <a href=""><i class="far fa-trash-alt"></i></a>
                </td>
          </tr>
          <tr>
            <td>Coca-cola</td>
            <td>Drink</td>
            <td>Carbonated soft drink</td>
            <td>19.08.2018</td>
            <td>75</td>
            <td>
                    <a href=""><i class="far fa-edit"></i></a>
                    <a href=""><i class="far fa-trash-alt"></i></a>
                </td>
          </tr>
          <tr>
            <td>Coca-cola</td>
            <td>Drink</td>
            <td>Carbonated soft drink</td>
            <td>19.08.2018</td>
            <td>75</td>
            <td>
                    <a href=""><i class="far fa-edit"></i></a>
                    <a href=""><i class="far fa-trash-alt"></i></a>
                </td>
          </tr>
          <tr>
            <td>Coca-cola</td>
            <td>Drink</td>
            <td>Carbonated soft drink</td>
            <td>19.08.2018</td>
            <td>75</td>
            <td>
                    <a href=""><i class="far fa-edit"></i></a>
                    <a href=""><i class="far fa-trash-alt"></i></a>
                </td>
          </tr>
          <tr>
            <td>Coca-cola</td>
            <td>Drink</td>
            <td>Carbonated soft drink</td>
            <td>19.08.2018</td>
            <td>75</td>
            <td>
                    <a href=""><i class="far fa-edit"></i></a>
                    <a href=""><i class="far fa-trash-alt"></i></a>
                </td>
          </tr>
          <tr>
            <td>Coca-cola</td>
            <td>Drink</td>
            <td>Carbonated soft drink</td>
            <td>19.08.2018</td>
            <td>75</td>
            <td>
                    <a href=""><i class="far fa-edit"></i></a>
                    <a href=""><i class="far fa-trash-alt"></i></a>
                </td>
          </tr>
          <tr>
            <td>Coca-cola</td>
            <td>Drink</td>
            <td>Carbonated soft drink</td>
            <td>19.08.2018</td>
            <td>75</td>
            <td>
                    <a href=""><i class="far fa-edit"></i></a>
                    <a href=""><i class="far fa-trash-alt"></i></a>
                </td>
          </tr>
          <tr>
            <td>Coca-cola</td>
            <td>Drink</td>
            <td>Carbonated soft drink</td>
            <td>19.08.2018</td>
            <td>75</td>
            <td>
                    <a href=""><i class="far fa-edit"></i></a>
                    <a href=""><i class="far fa-trash-alt"></i></a>
                </td>
          </tr>
          <tr>
            <td>Coca-cola</td>
            <td>Drink</td>
            <td>Carbonated soft drink</td>
            <td>19.08.2018</td>
            <td>75</td>
            <td>
                    <a href=""><i class="far fa-edit"></i></a>
                    <a href=""><i class="far fa-trash-alt"></i></a>
                </td>
          </tr>
          <tr>
            <td>Coca-cola</td>
            <td>Drink</td>
            <td>Carbonated soft drink</td>
            <td>19.08.2018</td>
            <td>75</td>
            <td>
                    <a href=""><i class="far fa-edit"></i></a>
                    <a href=""><i class="far fa-trash-alt"></i></a>
                </td>
          </tr>

        </table>
        <div class="total-spent">
            <p >Total spent:1205 den.</p>

        </div>
</body>
</html>