<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="html" href="../products/products.html">
    <link rel="stylesheet" type="text/css" href="../products/products.css">
    <title>Document</title>
</head>
<body>
    <div class="transbox">
        <h3>Delete Product</h3>
        <p>You are about to delete this product.Are you sure you wish to continue?</p>
        <div>
            <button>Cancel</button>
            <button>Delete</button>
        </div>
    </div>
    
</body>
</html>